<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="24.20:31:23.6470000" sendTimeout="24.20:31:23.6470000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <!--<reliableSession enabled="true"/>-->
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="HospitalSimulatorService.HSService">
        <endpoint address="" binding="netTcpBinding" name="HospitalSimulatorService.HSService" contract="HospitalSimulatorService.Contract.Service.IHospitalSimulator"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5555/HSService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="HospitalSimulatorService.HSService" address="net.tcp://localhost:5555/HSService" binding="netTcpBinding" contract="HospitalSimulatorService.Contract.Service.IHospitalSimulator"/>
    </client>
  </system.serviceModel>
</configuration>